@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-seirf;
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--soft-blue);
}

.link:link,
.link:visited {
  text-decoration: none;
  color: var(--white);
}

.link:hover,
.link:active {
  text-decoration: none;
  color: var(--cyan);
}

.line {
  border: 1px solid var(--line);
}
